<div class="container">
    <div class="row">
        <h2>Porfolio</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Deserunt aut voluptas repudiandae aliquid magni cumque adipisci 
            distinctio nisi minus corporis culpa, similique omnis quibusdam facere, 
            eum praesentium odio, ut quod.
        </p>
    </div>
    <div class="row">

        <div class="col-md-4">
            <img class="img-fluid mb-3" src="assets/img/big-project-image.png" alt="" >
            <p class="h4 text-primary">Project Name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quo,
                ad placeat necessitatibus aliquam voluptates doloremque facilis ea ut ratione alias 
            </p>
        </div>

        <div class="col-md-4">
            <img class="img-fluid mb-3" src="assets/img/big-project-image.png" alt="">
            <p class="h4 text-primary">Project Name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quo,
                ad placeat necessitatibus aliquam voluptates doloremque facilis ea ut ratione alias 
            </p>
        </div>

        <div class="col-md-4">
            <img class="img-fluid mb-3" src="assets/img/big-project-image.png" alt="">
            <p class="h4 text-primary">Project Name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quo,
                ad placeat necessitatibus aliquam voluptates doloremque facilis ea ut ratione alias 
            </p>
        </div>

    </div>
    

</div>